<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict>
		<key>Major</key>
		<dict>
			<key>halfsteps</key>
			<string>0,2,4,5,7,9,11</string>
		</dict>
		<key>Harmonic Minor</key>
		<dict>
			<key>halfsteps</key>
			<string>0,2,3,5,7,8,11</string>
		</dict>
	</dict>
	<key>Special</key>
	<dict/>
</dict>
</plist>
